.components-RightPanel-BodyRight-WindowApp-MenuWindow-root {
    height: 100%;
    display: none;
    position: relative;
    overflow-y: auto;
}

.menuPage .components-RightPanel-BodyRight-WindowApp-MenuWindow-root {
    display: block;
}

.components-RightPanel-BodyRight-WindowApp-MenuWindow-title {
    display: block;
    position: relative;
    margin: 30px 0 -5px 40px;
    font-weight: bold;
}
