.components-RightPanel-BodyRight-WindowApp-BasketWindow-root {
    height: 100%;
    display: none;
    position: relative;
}

.basketPage .components-RightPanel-BodyRight-WindowApp-BasketWindow-root {
    display: block;
}
