.components-RightPanel-BodyRight-WindowApp-LoadingWindow-root {
    height: 100%;
    display: none;
    position: relative;
}

.loadingPage .components-RightPanel-BodyRight-WindowApp-LoadingWindow-root {
    display: block;
}
